



h1{
    color: black;
    font-size: 40px;
    font-family:"Times New Roman";
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    background-color: lightgray;
}

h2{
    color: white;
    font-size: 20px;
    font-family: Times;
    background-color: black;
    text-align: left;

}
h3 {
    color: grey;
    text-align: center;
    font-size: 12px;
    font-family: Times;
    background-color: lightgray;

}

p {
    text-indent: 20px;
    color: black;
    font-size: 20px;
    font-family: Times;
    background-color: inherit;
  }

body{
  background-color: lightgray;
}

.img-essentials {
  width: 700px;
  margin-left: 200px;

}
